.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    position: relative;
}

.crop {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}
